@charset 'utf-8';
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;700;800;900&display=swap');

/* 
font-family: "Gothic A1", sans-serif;
*/

/* 변수 */
:root{
    --font-Banner-main : 42px;
    --font-main : 27px;
    --font-site-map-title : 18px;
    --font-site-map : 14px;
    --font-small : 12px;
 
    --primary-color : #011E62;
    --secondary-color : #F6FBFF;
    --sub-color : #599DD9;
    --backgronud-color : #F2F2F2;
    --black-color : #000000;
    --light-gray-color : #8C8C8C;
    --white-color : #fff;

    --container : 1760px;
    --lh : 26px;
}
/*cookie*/
.popup{
    position: fixed;
    left: 100px;
    top: 100px;
    background: var(--secondary-color);
    border: 20px solid var(--sub-color);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    padding: 10px 40px 40px ;
    z-index: 100000;
    line-height: 2;
}
.pophd{
    text-align: center;
    margin: 20px 0;
}
.popup h2 > span{
    font-weight: 700;
}
.popct{
    margin: 20px 0;
}
hr{
  height: 4px;
  background-color: var(--primary-color);
  border: none;
}
.popup > p{
    margin: 20px 0;
}

.cookie{
    padding-top: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#check {
    margin-right: 250px;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

button{
    padding: 5px 10px;
    background-color: #000;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
button:hover {
    background-color: var(--sub-color);
    color: #000;
}

/* 레이아웃 */

main>section{
    padding: 85px 0 0 0;
}

.container{
    width: var(--container);
    margin: 0 auto;
}

/* 폰트 */
body{
    font: var(--font-site-map-title)/var(--lh) "Gothic A1", sans-serif;
    color: var(--black-color);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 203px;
}

section .sec_sub_tt{
    font: var(--font-site-map-title)/var(--lh) 700 "Gothic A1", sans-serif;
    color: var(--black-color);
}

section .sec_tt{
    font-size: var(--font-main);
    font-family:  "Gothic A1", sans-serif;
    font-weight: 500;
    color: var(--black-color);
}

/* HEADER */
.top_nav .container{
    background: #fff;
    width: 100%;
}

.top_nav{
    padding:  45px 0 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.top_nav nav{
    display: flex;
    align-items: flex-start;
}

.top_nav.fixed{
    position: fixed;
    background: rgba(225, 225, 225, .5);
    box-shadow: 0 3px 3px rgba(0 , 0, 0, .06);
}

header nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.logo a{
    width: 128px;
    height: 48px;
    background: url(../imgs/logo.png) no-repeat;
    display: block;
    text-indent: -999999em;
    margin: 0 80px;

}

/*sitemap*/

nav > ul{
    margin: 45px 80px;
    font-weight: 700;
    height: 30px;
    transition:height 0.5s ease-out;
    padding: 0;
    display: flex;
}


nav > ul > li{
    line-height: 35px;
    padding: 0;
    padding-right: 50px;
}

nav > ul > li div{
    width: 100%;
    position: absolute;
    left: 80px;
    display: none;
    font-size: var(--font-site-map);
    font-weight: 500;
}

nav > ul > li div ul li{
    font-weight: 700;
    padding-bottom: 22px;
}


nav > ul > li:hover div{
    width: 100%;
    display: flex;
    gap: 130px;
    padding: 45px 0 22px 0;
}

nav > ul > li div dl dt{
    font-weight: 700;
}
/*sitemap icon*/
form{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin: 35px 80px 0 0;
}

header .main_menu_icon{
    display: inline-flex;
    gap: 15px;
}

header .main_menu_icon i{
    color: var(--primary-color);
    font-size: 26px;
    line-height: 48px;
}

header .container .search{
    line-height: 36px;
    border: 2px solid var(--primary-color);
    margin: 0;
    width: 240px;
    box-sizing: border-box;
    display: inline-flex;
}

.search input{
    border: 0;
    padding: 0 0 0 10px;
    display: inline-flex;
    position: relative;
    outline: none;
    width: 185px;
    height: 45px;
}

.search i{
    width: 44px;
    line-height: 46px;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    display: inline-block;
    font-size: 25px;
}
/*sitemap slide*/
.contain{
    position: relative;
}

.contain .slide_wrapper{
    overflow: hidden;
    width: 100%;
    height: 540px;
   
}

.contain .slides{
    position: relative;
    width: 5760px;
    margin: 0;
    padding: 0;
    display: flex;
}

.contain .slides.animated{
    left: 0;
    transition: left 0.4s;
}

.contain .slides>li{
    height: 540px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    position: relative;
}

.slide1 {
    background-image: url(../imgs/main_banner3.jpg)
}

.slide2 {
    background-image: url(../imgs/main_banner4.jpg)
}

.slide3 {
    background-image: url(../imgs/main_banner6.jpg)
}

.slides>li .contents{
    position: absolute;
    left: 216px;
    top: 50%;
    transform: translate(0,-50%);
}

.contain .slides>li .contents h2{
    font-size: 36px;
    font-weight: 900;
    color: var(--primary-color);
    letter-spacing: -0.5px;
}

.contain .slides>li .contents .top{
    vertical-align: 12px;
    font-size: 21px;
}

.contain .slides>li .contents p{
    font-size: var(--font-site-map-title);
    color: var(--primary-color);
    font-weight: 600;
    padding: 13px 0 24px 0;
}

.contain .slides>li .contents a{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
}

/*sitemap button*/
.slide_wrapper .controls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999999;
    color: var(--white-color);
    font-size: 50px;
}
#right{
    right: 20px;
}

#left{
    left: 20px;
}

/*main*/
/*best-item*/
main h2{
    font-size: var(--font-site-map-title);
    font-weight: 700;
    margin:0 0 20px 80px;
}

main h3{
    font-size: var(--font-main);
    font-weight: 500;
    margin: 0 0 45px 80px;
}

main .main_img{
    margin: 0 80px 50px 0;
}

.best_contents{
    height: 592px;
    padding-top: 648px;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}

.contens{
    display: flex;
    margin:0 80px;
    width: 1760px;
    top: 0;
    position: absolute;
}

.best-wrapper{
    position: relative;
    overflow: hidden;
}

.best-container{
    position: relative;
    width: 4000px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    transition: left 0.3s ease;
}

.best-container>li{
    width: 338px;
    border: 2px solid transparent;
}

.best-container>li:hover{
    border-color: var(--primary-color);
}

.best-container>li .imgwrap{
    background: var(--secondary-color);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.best-container li div+div{
    background: var(--white-color);
}

.best-container li div h4{
    margin: 22px 0 10px 27px;
}

.best-container li div>p{
    margin: 10px 0 10px 27px;
    font-weight: 700;
}

.best-container li div span{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/*bset item color*/
.light-blue{
    background: linear-gradient(#70CDCD 50%, #5BEA99 50% 100%);
    transform: rotate(45deg);
}

.green{
    background: linear-gradient(#A6B483 50%, #3B5B4F 50% 100%);
    transform: rotate(45deg);
}

.rad{
    background: linear-gradient(#ABA8A7 50%, #933031 50% 100%);
    transform: rotate(45deg);
}

.beige{
    background: linear-gradient(#E0DAC0 50%, #DCDDD8 50% 100%);
    transform: rotate(45deg);
}

.sliver{
    background: linear-gradient(#CBCCDA 50%, #C2C2C2 50% 100%);
    transform: rotate(45deg);
}

.light-green{
    background: #78E937;
}

.black{
    background: #000;
}

.graphite-grey{
    background: #a6b7ad;
}

.white{
    background:var(--white-color);
    border: 1px solid #000;
}

.asics-yellow{
    background: linear-gradient(#dcf655 50%, #f1b183 50% 100%);
    transform: rotate(45deg);
}

/*best item size*/
/* .size{
    border-bottom: 2px solid var(--primary-color);
} */

.size ul{
    width: 290px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px 14px; 
    padding: 16px 27px 15px 27px;
    font-size: var(--font-site-map);
}

.size ul li{
    cursor: pointer;
}

.hall>div{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--primary-color);
}
.hall{
    display: none;
}

.best-container>li:hover .hall{
    display: block;
}


.icon{
    margin-left: 27px;
    
}

.icon a{
    margin-right: 18px;
    line-height: 50px;
    font-size: 25px;
    color: var(--primary-color);
}

.size div+a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-site-map-title);
    font-weight: 700;
}



/*best item but*/
.control{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgba(217, 217, 217, .5);
    font-size: 50px;
    color: var(--white-color);
    z-index: 100;
}

#prev{
    left: 2px;
    top: 185px;
}

#next{
    right: 6px;
    top: 185px;
}

#prev.disabled,
#next.disabled{
    display: none;
}


.best_contents > p{
 text-align: center;
}

.all{
    display: inline-block;
    width: 165px;
    line-height: 41px;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
}

/*new_arrival*/
.arrival_contents{
    height: 592px;
    padding-top: 648px;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}

.arrival-wrapper{
    display: flex;
    width: 1760px;
    margin: 0 80px;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.arrival-container{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    transition: left 0.3s ease;
}

.arrival-container>li{
    width: 338px;
    border: 2px solid transparent;
}

.arrival-container>li:hover{
    border-color: var(--primary-color);
}

.arrival-container>li:hover .hall{
    display: block;
}

.arrival-container>li .imgwrap{
    background: var(--secondary-color);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrival-container li div+div{
    background: var(--white-color);
}

.arrival-container li div h4{
    margin: 22px 0 10px 27px;
}

.arrival-container li div>p{
    margin: 10px 0 10px 27px;
    font-weight: 700;
}

.arrival-container li div span{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/*new_arrival color*/
.skyblue{
    background: #B5C5CD;
}

.light-beige{
    background: #CFC3AB;
}

.darkgreen{
    background: #305969;
}

.rock{
    background: #585859; 
}

.brilliant{
    background: #085584;  
}

.blue{
    background: #053b58; 
}

.bage{
    background: #b8b5aa;
}

.sky{
    background: #7694b8; 
}

/*new_arrival but*/

#prearr{
    left: 2px; top: 185px;
}

#nexarr{
    right: 15px; top: 185px;
}

#prearr.disabled,
#nexarr.disabled{
    display: none;
}

.arrival_contents > p{
    text-align: center;
   }

/*sub_banner*/
.sub_banner{
    width: 100%;
    height: 210px;
    padding: 0;
    margin: 85px 0 0 0;
    background:
    url(../imgs/sub-banner-back1.png)no-repeat top left,
    url(../imgs/sub-banner-back2.png)no-repeat right top, 
    linear-gradient(#646AF0 10%, rgba(251,79,255,.5) 100%);
}

.sub_banner>h4{
    text-align: center;
    font-size: var(--font-Banner-main);
    font-weight: 700;
    color: var(--white-color);
    padding: 75px 0 25px 0;
}

.sub_banner h5{
    font-size: var(--font-site-map-title);
    color: var(--white-color);
    text-align: center;
}

/*exercise item*/
.exercise_contents{
    height: 592px;
    padding-top: 648px;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}

.exercise_contents .contens{
    display: flex;
    margin: 0 80px ;
    top: 0;
    width: 1760px;
    position: absolute;
}

.exitem-container{
    width: 4000px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}


.exitem-container>li{
    width: 338px;
    border: 2px solid transparent;
    position: relative;
}

.exitem-container .category{
    position: absolute;
    left: 0; top: 0;
    width: 182px;
    line-height: 60px;
    background: var(--sub-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.exitem-container .category>p{
    color: #000;
    font-size: var(--font-main);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px;
}
.exitem-container>li:hover{
    border-color: var(--primary-color);
}

.exitem-container>li:hover .hall{
    display: block;
}

.exitem-container>li .imgwrap{
    background: var(--secondary-color);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.exitem-container li div+div{
    background: var(--white-color);
}

.exitem-container li div h4{
    margin: 22px 0 10px 27px;
}

.exitem-container li .size>p{
    margin: 10px 0 10px 27px;
    font-weight: 700;
}

.exitem-container li div span{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/*exercise item color*/
.yellow{
    background: linear-gradient(#E0C28D 50%, #fff 50% 100%);
    transform: rotate(45deg);
    border: 1px solid #000;
}

.white-black{
    background: linear-gradient(#000 50%, #fff 50% 100%);
    transform: rotate(45deg);
    border: 1px solid #000;
}

.light-gray{
    background: linear-gradient(#F3F3F1 50%, #fff 50% 100%);
    transform: rotate(45deg);
    border: 1px solid #000;
}

.blue-expanse{
    background: linear-gradient(#3C96CA 50%, #0A0D16 50% 100%);
    transform: rotate(45deg);
}

.asics-rad{
    background: linear-gradient(#C74149 50%, #fff 50% 100%);
    transform: rotate(45deg);
    border: 1px solid #000;
}

.asics-blue{
    background: linear-gradient(#3B59B0 50%, #fff 50% 100%);
    transform: rotate(45deg);
    border: 1px solid #000;
}

.light-yellow{
    background: linear-gradient(#C2E616 50%, #FF6156 50% 100%);
    transform: rotate(45deg);
}

.exercise_contents > p{
    text-align: center;
   }

/*ASICS EVENT */


.asics_event h2{
    text-transform: uppercase;
    font-size: var(--font-Banner-main);
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.event-wrapper{
    overflow: hidden;
    margin: 0 80px 82px 80px;
    padding: 20px 0;
    position: relative;
}

.event-contain{
    position: relative;
    display: flex;
    width: 1760px;
    gap: 15px;
    transition: left 0.3s ease;
}

.event-contain img{
    display: block;
}

.event-contain li{
    width: 365px;
}

.event-contain li div{
    padding: 25.5px 0 25.5px 20px;
    background: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.event-contain li h4{
    font-size: var(--font-site-map-title);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.event-contain li p{
    font-size: var(--font-small);
}

/* ASICS EVENT but */
#prev_en{ 
    left: 0px;
    top: 167px;
}

#next_en{
    right: 0;
    top: 167px;
}

   

/* footer  */
footer .container{
    background: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 42px 80px 56px 80px;
    margin: 0;
    box-sizing: border-box;
}

.white_logo a{
    width: 128px;
    height: 48px;
    background: url(../imgs/logo_white.png) no-repeat;
    display: inline-block;
    text-indent: -999999em;
}

.footer_top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 40px;
}

.footer_top div{
    display: flex;
    align-items: center;
}

.footer_top div+div a{
    text-decoration: underline;
}

.footer_top ul{
    display: flex;
    gap: 35px;
    margin-right: 35px;
}

.footer_top li a{
    color: var(--white-color);
    font-weight: 700;
}

.footer_top div+div>a{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    margin: 0 10px;
}

.footer_top a img{
    color: var(--white-color);
    height: 30px;
    display: block;
    text-indent: -999999em;
    
}
.footer_top a .instagram{
width: 30px;
}

.footer_top a .kakaotalk{
    width: 33px;
}

.footer_top a .facebook{
    width: 16.15px;
}

.footer_bottom{
    color: var(--white-color);
    margin-top: 32px;
    position: relative;
}

.footer_bottom p{
    margin-bottom: 10px;
    font-size: var(--font-site-map);

}

.footer_bottom p span{
    font-weight: 700;
}

.kcp{
    position: absolute;
    right: 12px;
    top: 3px;
}

/*top but*/
#go-top{
    width: 45px;
    height: 45px;
    position: fixed;
    background: #fff;
    color: var(--primary-color);
    box-shadow: 0 0 5px rgba(203, 179, 242, .8);
    bottom: 48px;
    right: 35px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    font-size: var(--font-site-map-title);
}

#go-top:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

#go-top.active{
    opacity: 1;
    pointer-events: auto;
}
