@charset 'utf-8';
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;700;800;900&display=swap');

/* 
font-family: "Gothic A1", sans-serif;
*/

/* 변수 */
:root{
    --font-Banner-main : 42px;
    --font-main : 27px;
    --font-site-map-title : 18px;
    --font-site-map : 14px;
    --font-small : 12px;
 
    --primary-color : #011E62;
    --secondary-color : #F6FBFF;
    --sub-color : #599DD9;
    --backgronud-color : #F2F2F2;
    --black-color : #000000;
    --light-gray-color : #8C8C8C;
    --white-color : #fff;

    --container : 1760px;
    --lh : 26px;
}


/* 레이아웃 */

main>section{
    padding: 85px 0;
}

.container{
    width: var(--container);
    margin: 0 auto;
}

/* 폰트 */
body{
    font: var(--font-site-map-title)/var(--lh) "Gothic A1", sans-serif;
    color: var(--black-color);
    overflow-y: scroll;
    padding-top: 203px;
}

section .sec_sub_tt{
    font: var(--font-site-map-title)/var(--lh) 700 "Gothic A1", sans-serif;
    color: var(--black-color);
}

section .sec_tt{
    font-size: var(--font-main);
    font-family:  "Gothic A1", sans-serif;
    font-weight: 500;
    color: var(--black-color);
}

/* HEADER */
.top_nav .container{
    background: #fff;
    width: 100%;
}

.top_nav{
    padding:  45px 0 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.top_nav nav{
    display: flex;
    align-items: flex-start;
}

.top_nav.fixed{
    position: fixed;
    background: rgba(225, 225, 225, .5);
    box-shadow: 0 3px 3px rgba(0 , 0, 0, .06);
}

header nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.logo a{
    width: 128px;
    height: 48px;
    background: url(../imgs/logo.png) no-repeat;
    display: block;
    text-indent: -999999em;
    margin: 0 80px;

}

/*sitemap*/

nav > ul{
    margin: 45px 80px;
    font-weight: 700;
    height: 30px;
    transition:height 0.5s ease-out;
    padding: 0;
    display: flex;
}


nav > ul > li{
    line-height: 35px;
    padding: 0;
    padding-right: 50px;
}

nav > ul > li div{
    width: 100%;
    position: absolute;
    left: 80px;
    display: none;
    font-size: var(--font-site-map);
    font-weight: 500;
}

nav > ul > li div ul li{
    font-weight: 700;
    padding-bottom: 22px;
}


nav > ul > li:hover div{
    width: 100%;
    display: flex;
    gap: 130px;
    padding: 45px 0 22px 0;
}

nav > ul > li div dl dt{
    font-weight: 700;
}
/*sitemap icon*/
form{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin: 35px 80px 0 0;
}

header .main_menu_icon{
    display: inline-flex;
    gap: 15px;
}

header .main_menu_icon i{
    color: var(--primary-color);
    font-size: 26px;
    line-height: 48px;
}

header .container .search{
    line-height: 36px;
    border: 2px solid var(--primary-color);
    margin: 0;
    width: 240px;
    box-sizing: border-box;
    display: inline-flex;
}

.search input{
    border: 0;
    padding: 0 0 0 10px;
    display: inline-flex;
    position: relative;
    outline: none;
    width: 185px;
    height: 45px;
}

.search i{
    width: 44px;
    line-height: 46px;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    display: inline-block;
    font-size: 25px;
}
/*sitemap slide*/
.contain{
    position: relative;
}

.contain .slide_wrapper{
    overflow: hidden;
    width: 100%;
    height: 540px;
}

.contain .slides{
    width: 5760px;
    margin: 0;
    padding: 0;
    height: 0;
    display: flex;
}

.contain .slides.animated{
    left: 0;
    transition: left 0.4s;
}

.contain .slides>li{
    height: 540px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    position: relative;
}

.slide1 {
    background-image: url(../imgs/main_banner3.jpg)
}

.slide2 {
    background-image: url(../imgs/main_banner4.jpg)
}

.slide3 {
    background-image: url(../imgs/main_banner6.jpg)
}

.slides>li .contents{
    position: absolute;
    left: 216px;
    top: 50%;
    transform: translate(0,-50%);
}

.contain .slides>li .contents h2{
    font-size: 36px;
    font-weight: 900;
    color: var(--primary-color);
    letter-spacing: -0.5px;
}

.contain .slides>li .contents .top{
    vertical-align: 12px;
    font-size: 21px;
}

.contain .slides>li .contents p{
    font-size: var(--font-site-map-title);
    color: var(--primary-color);
    font-weight: 600;
    padding: 13px 0 24px 0;
}

.contain .slides>li .contents a{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
}

/*sitemap button*/
.slide_wrapper .controls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999999;
    color: var(--white-color);
    font-size: 50px;
}
#right{
    right: 20px;
}

#left{
    left: 20px;
}

/*main*/
/*best-item*/
main h2{
    font-size: var(--font-site-map-title);
    font-weight: 700;
    margin:0 0 20px 80px;
}

main h3{
    font-size: var(--font-main);
    font-weight: 500;
    margin: 0 0 45px 80px;
}

main .main_img{
    margin: 0 80px 50px 80px;
}

.contens{
    display: flex;
}

.best-wrapper{
    position: relative;
}

.best-contain{
    
    display: flex;
    gap: 30px;
}

.best-contain li{
    position: relative;
    background: var(--secondary-color);
    width: 338px;
    height: 450px;
}

.best-contain li img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.best-contain li div{
    position: absolute;
    left: 0;
    bottom: -140px;
    background: var(--white-color);
    width: 338px;
    height: 140px;
    z-index: -1;
    border-bottom: 2px solid #000;
}

.best-contain li div h4{
    margin: 24px 0 10px 16px;
}

.best-contain li div>p{
    margin: 10px 0 10px 16px;
    font-weight: 700;
}

.best-contain li div span{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.light-blue{
    background: linear-gradient(#70CDCD 50%, #5BEA99 50% 100%);
    transform: rotate(45deg);
}

.green{
    background: linear-gradient(#A6B483 50%, #3B5B4F 50% 100%);
    transform: rotate(45deg);
}

.rad{
    background: linear-gradient(#ABA8A7 50%, #933031 50% 100%);
    transform: rotate(45deg);
}

.beige{
    background: linear-gradient(#E0DAC0 50%, #DCDDD8 50% 100%);
    transform: rotate(45deg);
}

.sliver{
    background: linear-gradient(#CBCCDA 50%, #C2C2C2 50% 100%);
    transform: rotate(45deg);
}

.light-green{
    background: #78E937;
}

.black{
    background: #000;
}

.graphite-grey{
    background: #a6b7ad;
}

.white{
    background:var(--white-color);
    border: 1px solid #000;
}

.asics-yellow{
    background: linear-gradient(#dcf655 50%, #f1b183 50% 100%);
    transform: rotate(45deg);
}

/*best item but*/

.control{
    display: inline-block;
    text-align: center;
    width: 80px;
    line-height: 80px;
    background: rgba(217, 217, 217, .5);
    font-size: 50px;
    color: var(--white-color);
    z-index: 100;
}

#prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

.all{
    display: block;
    width: 165px;
    line-height: 41px;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
}
